{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCP Todo</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    {% block header %}

        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">HOME</a>
                </li>
            </ul>
        </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <h4>
            &copy; developer
        </h4>
    {% endblock %}
</div>
</body>
</html>